*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* --------------- */
/* .headerpage{
    width: 120px;
} */

header{
    background-color:cornflowerblue;
    height: 70px;
    background-image: url(img/pattern.png);
    background-size: 270px;
}

#Logo{
    height: 35px;
    margin-top: 20px;
    
}

/* --------------- */
.contenitore{
    width: 1200px;
    margin: auto;
    padding-left: 90px;
    padding-right: 90px;
}

h1{
    font-family: "Audiowide", sans-serif;
}

#sottotitolo1{
    font-size: small;
}

strong{
    color: rgb(53, 206, 206);
}

#sottotitolo2{
    font-size:  10px;
    margin-bottom: 22px;
    font-family: "Trirong", serif;
}

/* --------------- */
#sottotesto{
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

#primoLorem{
    margin-bottom: 25px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}
span{
    background:#FFFF00;
}

#Lista{
    margin-bottom: 25px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}


/* ------PARTE TABELLA------- */

table{
    border-collapse: collapse;
}

.row-head{
    background-color: blue;
    text-align: left;
    color: white;
}

.row-dark{
    background-color: aqua;
}

.cell-25{
    width: 25%;
}

.cell-50{
    width: 50;
}
/* #thead{
    background-color: rgba(32,169,229,255);
    color: rgba(255,255,255,255);
    font-family: 'Josefin Sans', sans-serif;
}

.RTHead1{
    display: inline-block;
    width: 24%;
    font-weight: 600;
}
.RTHead2{
    display: inline-block;
    width: 24%;
    font-weight: 600;
}
.RTHead3{
    display: inline-block;
    width: 49%;
    text-align: justify;
    font-weight: 600;
}


.colonna1{
    display: inline-block;
    width: 24%;
    font-weight: 600;
}
.colonna2{
    display: inline-block;
    width: 24%;
    font-weight: 600;
}
.colonna3{
    display: inline-block;
    width: 49%;
    text-align: justify;
    font-weight: 600;
}

#tbody1{
    background-color: rgb(177,229,242,255);
    font-family: 'Josefin Sans', sans-serif;
}

#tbody2{
    background-color: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
}

#tbody3{
    background-color: rgb(177,229,242,255);
    font-family: 'Josefin Sans', sans-serif;
} */

/* --------------- */
#secondoLorem{
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}

.footerImg{
    display: block;
    width: 20%;
    margin-top: 7px;
    margin-bottom: 23px;
}

h4{
    color: darkgrey;
    font-family: 'Josefin Sans', sans-serif;
}